/* 
    Document   : sc
    Created on : Oct 30, 2013, 8:48:47 PM
    Author     : Paul Kulitski
    Description:
        Scand Java jQuery MVC Test
*/

html, body {
    background-color: #ddd;
}

.container { 
    display: block;
    position: absolute;
    margin: 50% 0 0 50%;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 2px #000;
    text-align: center;
    width: 400px;
    height: 200px;
    top: -200px;
    left: -200px;
}

#form-login {
    padding: 10px;
    margin: 10px;
}

.error {
    color: tomato;
    text-align: center
}

span.user {
    text-align: center;
}

form {

}